@import url(./tokens/_colors.scss);
@import url(./tokens/_radius.scss);
@import url(./tokens/_shadow.scss);
@import url(./tokens/_spacing.scss);
@import url(./tokens/_time.scss);
@import url(./tokens/_typography.scss);

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  appearance: none;
}

body {
  font-family: var(--font-family);
  color: var(--color-content);
  font-weight: var(--font-weight-book);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
}

h1, h2, h3, h4, h5, h6 {
  padding-top:  var(--spacing-m);
  margin-bottom: var(--spacing-s);
  font-weight: var(--font-weight-medium);
}

h1 {
  font-weight: var(--font-weight-book);
  font-size: var(--font-size-xxxl);
  color: var(--color-cyan);
  padding: 0;
}

h2 {
  font-size: var(--font-size-xxl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-l);
}

h5 {
  font-size: var(--font-size-m);
}

h6 {
  font-size: var(--font-size-s);
}

p {
  margin-bottom: var(--spacing-m);
}

.container {
  max-width: 60vw;
  margin: 0 auto;
  padding: var(--spacing-xxxl);
}

.row {
  margin-bottom: var(--spacing-xxl);
}
