:root {
  /*
    Sizing  
  */
  --sizing-xxxxxl: 64px;
  --sizing-xxxxl: 56px;
  --sizing-xxxl: 48px;
  --sizing-xxl: 40px;
  --sizing-xl: 32px;
  --sizing-l: 24px;
  --sizing-m: 16px;
  --sizing-s: 12px;
  --sizing-xs: 8px;
  --sizing-xxs: 4px;
  --sizing-xxxs: 2px;
}
